<div class="list-container" *ngIf="auth">

  <button mat-raised-button (click)="onEdit()">Add Note</button>

  <ng-container *ngIf="notes$ | async as notes">
    <ng-container *ngIf="notes.length>0; else noNotes">
      <mat-card *ngFor="let note of notes; let i=index;">
        <mat-card-content> 
          <p>{{note.description}}</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-mini-fab (click)="onEdit(note)"><mat-icon>edit</mat-icon></button>
          <button mat-mini-fab (click)="onDelete(note)"><mat-icon>delete</mat-icon></button>
          <button mat-mini-fab [ngClass]="{'highlight': note.favorite, 'plain':!note.favorite}" (click)="onFavor(note)"><mat-icon>star</mat-icon></button>
        </mat-card-actions>
      </mat-card>

      <mat-paginator 
        [length]="this.getNotesLength()"
        [pageSize]="5"
        [showFirstLastButtons]="true"
        [pageIndex]="currentPage"
        (page)="changePage($event)"
      >
      </mat-paginator>

    </ng-container>
  </ng-container>
      
  <button mat-raised-button (click)="onLogout()">Sign Out</button>

  <ng-template #noNotes>
    <p>Add notes to view</p>
  </ng-template>

</div>