.auth-container{display:flex; flex-flow: column nowrap; justify-content: center; align-items: center;gap: 1.25rem;margin-bottom: 2rem;}
mat-form-field{width:100%}
.buttons{display:flex; flex-flow: column nowrap; justify-content: center; align-items: center;gap: 1.25rem;margin-bottom: 2rem;}
//.buttons button{align-self: center;}
